* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.all {
  width: 100%;
  height: 100vh;
  background-image: url("./src/images/WhatsApp image 2024-05-15 at 18.14.45.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordBody {
  background-color: rgba(0, 0, 0, 0.9);
  width: 450px;
  padding-inline: 20px;
  padding-top: 30px;
  padding-bottom: 25px;
  box-sizing: border-box;
  border-radius: 7px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navHeadDiv {
  width: max-content;
  color: white;
}

.navHead {
  display: inline;
  font-size: 28px;
  font-weight: 400;
}

.advanceMode {
  display: flex;
}

.advanceMode p {
  font-size: 12px;
  font-weight: 500;
  margin-right: 5px;
  color: white;
}

.fa-toggle-on {
  font-size: 15px;
  color: lightseagreen;
}

.lenghtDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.lenghtDiv p {
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.lenghtInput {
  width: 60px;
  height: 17px;
  outline: none;
}

.rangeDiv input {
  width: 100%;
  height: 6px;
}

.customizeDiv {
  margin-top: 10px;
}

.customizeDiv p {
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.numberDiv {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.numberDiv input {
  margin-right: 3px;
  width: 12px;
  color: lightseagreen;
}

.numberDiv input::-webkit-slider-runnable-track {
  background-color: lightseagreen;
}

.number {
  font-size: 14px;
  margin-right: 5px;
  font-weight: bold;
  color: white;
}

.numberChar {
  font-size: 12px;
  color: rgb(163, 160, 160);
}

.resultDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.result {
  width: 60%;
  height: 28px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 12px;
}

.generate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.generate button {
  padding-block: 8px;
  padding-inline: 58px;
  border: none;
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
}

.generate button:active {
  background-color: rgb(23, 22, 22);
}

.developer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.developer p {
  font-size: 8px;
  color: lightseagreen;
}
